::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.063);
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: hidden;
    height: 0px;
}


::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.715);
    border-radius: 10px;
}

